@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 130% -23%;
}
#feat{
  background-image: url('../img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: -100% 60%;
}

.ttt h1{
  text-align: left;
}
.tttt{
  text-align: left;
}
.ttttt{
  text-align: left;
}
@media (max-width: 800px) {
  .ttt h1{
    text-align: center;
  }
  .tttt{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .ttttt{
    text-align: center;
  }
}

#cta {
  background-image: url('../img/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url('../img/bg-simplify-section-mobile.svg');
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
.popup{

  width: 400px;
  background: #fff;
  border-radius: 15px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  

  
}




.popup h2{
 font-size: 38px;
 font-weight: bold;
 margin: 30px 0px 10px;
}
.pbold{
  font-weight: bold;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0px;
  background: hsl(235, 18%, 26%);;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);

}
.popup img{
  padding-top: 15px;
}

.openpopup{
  visibility: visible;
  top:50%;
  transform: translate(-50%, -50%) scale(1);

}